body {
  color: #000000;
  font-family: "Tahoma", sans-serif;
  font-size: 95px;
  min-width: 1100px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 1080px;
}

.content-wrapper {
  text-align: center;
}

.btn {
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  color: #555555;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 72px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #f7f7f7;
  border-color: #c6c6c6;
  box-shadow: 0 1px 1px 0 #e7e7e7;
  color: #333333;
}

.btn:active {
  background-color: #f5f5f5;
  border-color: #c6c6c6;
  box-shadow: inset 0 1px 2px 0 #e1e1e1;
  color: #333333;
}

.hidden {
  display: none;
}

.stopwatch-clock {
  border-bottom: 4px solid #ebebeb;
  font-size: 0;
  margin-bottom: 16px;
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.stopwatch-clock .clock-digit {
  font-size: 190px;
}

.stopwatch-clock .clock-digit-small {
  font-size: 95px;
}

.stopwatch-clock .clock-separator {
  font-size: 95px;
  margin-right: 55px;
}

.stopwatch-control {
  font-size: 0;
  margin-bottom: 20px;
  position: relative;
}

.stopwatch-control .btn {
  margin-right: 16px;
}

.stopwatch-control .start-btn {
  background-color: #4d8ffd;
  border-color: #3079ed;
  color: #ffffff;
}

.stopwatch-control .start-btn:hover {
  background-color: #357ae8;
  border-color: #2f5bb7;
}

.stopwatch-control .start-btn:active {
  background-color: #357ae8;
  box-shadow: inset 0 1px 2px #275aac;

  /*content: attr(data-caption);*/
}

.stopwatch-control .clock-control {
  float: left;
}

.stopwatch-control .screen-control {
  float: right;
}

.screen-control img {
  height: 24px;
  margin-top: -13px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 24px;
}

.stopwatch-list {
  display: inline-block;
  margin: 0;
}

.stopwatch-list .list-item {
  font-size: 0;
}

.list-item .clock-digit {
  font-size: 95px;
}

.list-item .clock-digit-small {
  font-size: 45px;
}

.list-item .clock-separator {
  font-size: 45px;
  margin-right: 25px;
}
